	<!-- loader -->
    <div id="spinner-front" class="spinner-grow" role="status" *ngIf="loader">
      <span class="sr-only">Loading...</span>
    </div>
    <div id="spinner-back" *ngIf="loader"></div>

    <!-- toast -->
 
      <div class="toast">
        <div class="toast-header">
          <!-- <img src="..." class="rounded mr-2" alt="..."> -->
          <strong class="mr-auto"><i class="icon-info"></i>&ensp;Message</strong>
          <small>1 min ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">

          	Error! Account not found...
        </div>
      </div>

      <!-- modal -->
      <div class="modal" id="reset-cm-prompt" tabindex="-1" role="dialog" aria-labelledby="reset-cm-promptTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reset-cm-promptTitle">Cable Modem Reset Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Do you want to reset this cable modem?
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetCM()">Confirm</button>
              	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
 

        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Analytics</h2>
          </div>
        </div>
        <section id="account-info" class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 col-sm-12">
              	<form [formGroup]="accountSearchForm" (ngSubmit)="accountSearch()" autocomplete="on">
              	<div class="title"><strong>Account Number</strong></div>
					<div class="form-group">
		              	<div class="input-group">
		              	  <input type="text" class="form-control form-control-sm" style="height: inherit;" aria-label="Text input with segmented dropdown button" placeholder="Enter the account number here." formControlName="account_number">
		              	  <div class="input-group-append">
		              	  	<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 0;">
		              	  	  <span class="sr-only">Toggle Dropdown</span>
		              	  	</button>
		              	    <button type="button" class="btn btn-sm btn-outline-secondary" style="border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem;border-top-left-radius: 0;border-bottom-left-radius: 0;" (click)="accountSearch()">Search</button>
		              	    <div class="dropdown-menu" style="transform: unset !important;width: 100% !important;top: unset !important;color: white;text-align: center;">
		              	    	<label style="width: 100%;background: #636363;color: white;">Recent Searches</label>
		              	    	<div *ngIf="recent_searches">
									<a *ngFor="let account of recent_searches" class="dropdown-item" (click)="selectAccountSearch(account.account_number)">{{ account.account_name }}</a>
								</div>
								<div role="separator" class="dropdown-divider"></div>
								<label style="width: 100%;background: #636363;color: white;">Pinned</label>
		              	    	<div *ngIf="pinned_searches.length > 0">
									<a *ngFor="let account of pinned_searches" class="dropdown-item" (click)="selectAccountSearch(account.account_number)">{{ account.account_name }}</a>
								</div>
								<div *ngIf="pinned_searches.length == 0">No Pinned Account</div>
		              	    </div>
		              	  </div>
		              	</div>
	              	</div>
              	</form>
              </div>
          	</div>
          	<div class="row" role="tablist">
              <div class="col-md-4 col-sm-4" *ngIf="cm_info">
	              <div class="statistic-block block" style=" /*background: #429244;" onclick="$('#dropinfo-tab').click()" (click)="getHistoricGraph('d', 'view', '', 'drop')" style="cursor: pointer;">
	                <div class="progress-details d-flex align-items-end justify-content-between">
	                  <div class="title" style="width: 100%;text-align: center;" [ngClass]="drop_status">
	                    <strong style="/*color: white;">DROP</strong>
	                  </div>
	                </div>
	              </div>
              </div>
              <div class="col-md-4 col-sm-4" *ngIf="cm_info">
                <div class="statistic-block block" style="/*background: #429244;" onclick="$('#plantinfo-tab').click()" (click)="portRow(0, 'plant')" style="cursor: pointer;">
	                  <div class="progress-details d-flex align-items-end justify-content-between">
	                    <div class="title" style="width: 100%;text-align: center;" [ngClass]="plant_status">
	                      <strong style="/*color: white;">PLANT</strong>
	                    </div>
	                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4" *ngIf="cm_info">
                <div class="statistic-block block" style="" onclick="$('#core-tab').click()" (click)="portRow(0, 'core')"  style="cursor: pointer;">
	                  <div class="progress-details d-flex align-items-end justify-content-between">
	                    <div class="title" style="width: 100%;text-align: center;" [ngClass]="core_status">
	                      <strong style="">CORE</strong>
	                    </div>
	                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4" *ngIf="cm_info">
                <div class="statistic-block block" style="" onclick="$('#acctinfo-tab').click()" style="cursor: pointer;">
	                  <div class="progress-details d-flex align-items-end justify-content-between">
	                    <div class="title" style="width: 100%;text-align: center;">
	                      <strong style="">ACCOUT INFO</strong>
	                    </div>
	                  </div>
                </div>
              </div>
              
	        	<div class="col-lg-12" *ngIf="cm_info">
	  				<div class="block margin-bottom-sm" style="margin-bottom: unset !important;">
	  					<div class="table-responsive"> 
	  						<table class="table table-striped table-bordered text-center">
	  							<tbody>
	  								<tr>
	  									<th style="width: 25%;">Acct No</th>
	  									<th style="width: 25%;">Node ID</th>
	  									<th style="width: 25%;">CMTS</th>
	  									<th style="width: 25%;">US CH</th>
	  								</tr>
	  								<tr>
	  									<th scope="row">{{ cm_info.acct_no }}</th>
	  									<td>{{ cm_info.node }}</td>
	  									<td>{{ cm_info.cmts }}</td>
	  									<td>{{ cm_info.us_port }}</td>
	  								</tr>
	  							</tbody>
	  						</table>
	  					</div>
	  				</div>
	          	</div>
            </div>
          </div>
        </section>
        
        <section id="options-nav" class="no-padding-top no-padding-bottom" *ngIf="cm_info">	
        		<br>
        		<ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none;">
        		  <li class="nav-item">
        		    <a class="nav-link active" id="acctinfo-tab" data-toggle="tab" href="#acct-info" role="tab" aria-controls="acct-info" aria-selected="true" style="color: white;">Account Info</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="dropinfo-tab" data-toggle="tab" href="#drop-info" role="tab" aria-controls="drop-info" aria-selected="false" style="color: white;" (click)="getHistoricGraph('d', 'view', '', 'drop')">Drop Info</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="plantinfo-tab" data-toggle="tab" href="#plant-info" role="tab" aria-controls="plant-info" aria-selected="false" style="color: white;" (click)="portRow(0, 'plant')">Plant Info</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="core-tab" data-toggle="tab" href="#core-info" role="tab" aria-controls="core" aria-selected="false" (click)="portRow(0, 'core')" style="color: white;">Core Info</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="incident-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Incident</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="xpertrak-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Xpertrak</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="nodeg-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Node Grouping</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="wifianalyzer-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Wifi Analyzer</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="speedtest-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Speedtest</a>
        		  </li>
        		  <li class="nav-item">
        		    <a class="nav-link" id="coordinates-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="false" style="color: white;">Coordinates</a>
        		  </li>
        		</ul>
        		<div class="tab-content" id="myTabContent">
        		  <div class="tab-pane fade show active" id="acct-info" role="tabpanel" aria-labelledby="acctinfo-tab">
	  	          	<div class="container-fluid">
	  	          		<div class="row">
			  	            <div class="col-lg-12" *ngIf="cm_info"><br>
			  	                <div class="block margin-bottom-sm">
			  	                  <div class="title"><strong>Account Information</strong></div>
			  	                  <div class="table-responsive"> 
			  	                    <table class="table table-striped table-bordered">
			  	                      <tbody>
			  	                      	<tr>
			  	                      	  <th>Class | Sub-class</th>
			  	                      	  <td>{{cm_info.acct_class}} | {{cm_info.sub_class}}</td>
			  	                      	</tr>
			  	                        <tr>
			  	                          <th>Account Name</th>
			  	                          <td>{{cm_info.acct_name}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                          <th>Address</th>
			  	                          <td>{{cm_info.address}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                          <th>Cable Tag #</th>
			  	                          <td>{{cm_info.cable_tag}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                          <th>Install Date</th>
			  	                          <td>{{cm_info.installed_date}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                          <th>Plan/Package</th>
			  	                          <td>{{cm_info.plan}}/{{cm_info.package}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                        	<th>UL | DL</th>
			  	                        	<td>{{cm_info.qos}}</td>
			  	                        </tr>
			  	                        <tr>
			  	                          <th>Description</th>
			  	                          <td>{{cm_info.description}}</td>
			  	                        </tr>
			  	                      </tbody>
			  	                    </table>
			  	                  </div>
			  	                </div>
		  	              	</div>
          	  	            <div class="col-lg-12" *ngIf="upstream_raw">
          	  	                <div class="block margin-bottom-sm">
          	  	                  <div class="title"><strong>Status Summary</strong></div>
          		  	                  <div class="table-responsive"> 
          		  	                  	<table class="table table-striped table-bordered table-bordered-summary text-center">
          		  	                  		<tbody>
          		  	                  			<tr>
          		  	                  				<td [ngClass]="cm_parameters.drop_status" width="20%">DROP</td>
          		  	                  				<td [ngClass]="cm_parameters.tx_status" width="20%">TX</td>
          		  	                  				<td [ngClass]="cm_parameters.rx_status" width="20%">RX</td>
          		  	                  				<td [ngClass]="cm_parameters.snr_status" width="20%">SNR</td>
          		  	                  				<td width="20%"></td>
          		  	                  			</tr>
          		  	                  			<tr>
          		  	                  				<td [ngClass]="upstream_raw.plant_status">PLANT</td>
          		  	                  				<td [ngClass]="upstream_raw.fec_c_summ_status">Corr FEC</td>
          		  	                  				<td [ngClass]="upstream_raw.fec_u_summ_status">Uncorr FEC</td>
          		  	                  				<td [ngClass]="upstream_raw.snr_summ_status">SNR</td>
          		  	                  				<td>US MOD</td>
          		  	                  			</tr>
          		  	                  			<tr>
          		  	                  				<td>CORE</td>
          		  	                  				<td>US</td>
          		  	                  				<td>DS</td>
          		  	                  				<td>LB</td>
          		  	                  				<td></td>
          		  	                  			</tr>
          		  	                  		</tbody>
          		  	                  	</table>
      		  	                  	</div>
      	  	                  	</div>
      	  	              	</div>
      	  	              	<div class="col-sm-12"*ngIf="cm_info">
	    	  	                <div class="block margin-bottom-sm">
	    	  	                  <div class="title"><strong>Fault Order</strong></div>
	    		  	                  <div class="table-responsive">
	    		  	                  <label>Open Fault</label> 
	    		  	                  	<table class="table table-striped table-bordered text-center">
	    		  	                  		<tbody>
	    		  	                  			<tr>
	    		  	                  				<th width="25%">Fault Type | Report Code</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr> 
	    		  	                  				<th>Fault Number</th><td>N/A</td>
    		  	                  				</tr>
	    		  	                  			<tr>	
	    		  	                  				<th>Fault Stahe | Stg Description</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr>
	    		  	                  				<th>Creation Date</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr>
	    		  	                  				<th>Repeat Fault Counter</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  		</tbody>
	    		  	                  	</table>
	    		  	                  	<br>
	    		  	                  	<label>Previous Fault</label>
	    		  	                  	<table class="table table-striped table-bordered text-center">
	    		  	                  		<tbody> 
	    		  	                  			<tr>
	    		  	                  				<th width="25%">Fault Type | Report Code</th><td>N/A</td>
			  	                  				</tr>
			  	                  				<tr>
	    		  	                  				<th>Fault Number</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr>
	    		  	                  				<th>Creation Date</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr>
	    		  	                  				<th>Completion Date</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr>
	    		  	                  				<th>Findings</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  			<tr> 
	    		  	                  				<th>Solution</th><td>N/A</td>
	    		  	                  			</tr>
	    		  	                  		</tbody>
	    		  	                  	</table>
	    		  	                  	
			  	                  	</div>
		  	                  	</div>
      	  	              	</div>
      	  	              	<div class="col-sm-12"*ngIf="cm_info">
	    	  	                <div class="block margin-bottom-sm">
	    	  	                  <div class="title"><strong>Incident</strong></div>
    		  	                  	<div class="table-responsive" style="text-align: center;"> 
										N/A
			  	                  	</div>
		  	                  	</div>
      	  	              	</div>
  	              		</div>
  	              	</div>
        		  </div>
        		  <div class="tab-pane fade" id="drop-info" role="tabpanel" aria-labelledby="dropinfo-tab">
        		  	<div class="container-fluid">
        		  		<div class="row">
    		  				<div class="col-lg-12" *ngIf="cm_info"><br>
    		  					<div class="block margin-bottom-sm">
    		  						<div class="title">
    		  							<strong>Cable Modem Information</strong>
    		  						</div>
    		  						<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#reset-cm-prompt">
    		  						  	Reset CM
    		  						</button>
    		  						<br><br>
    		  						<div class="table-responsive"> 
    		  							<table class="table table-striped table-bordered">
    		  								<tbody>
    		  									<tr>
    		  										<th scope="row" width="25%">CM Model</th>
    		  										<td>{{cm_info.model}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">DOCSIS Std</th>
    		  										<td>{{cm_info.docsis_ver}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CM STATUS</th>
    		  										<td>{{ cm_parameters.ping > 0 ? "Operational" : "Offline" }}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CM Uptime</th>
    		  										<td>{{cm_info.uptime}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CM MAC</th>
    		  										<td>{{cm_info.mac_id}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CM IP</th>
    		  										<td>{{cm_info.ip_add}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CPE MAC</th>
    		  										<td>{{cm_info.cpe}}</td>
    		  									</tr>
    		  									<tr>
    		  										<th scope="row">CPE IP</th>
    		  										<td>{{cm_info.cpe_ip}}</td>
    		  									</tr>
    		  								</tbody>
    		  							</table>
    		  						</div>
 
    		  					</div>
    		  			  	</div>
  			  	            <div class="col-lg-12" *ngIf="cm_parameters">
  			  					<div class="block margin-bottom-sm">
  			  						<div class="title">
  			  							<strong>CM PARAMETERS</strong>
  			  						</div>
  			  						<div class="table-responsive">

  			  							<ng-template #popContentPing>
  			  								<div class="container" style="text-align: center;">
	  			  								<div class="row">
		  			  								<div class="col-sm-6" style="background: yellow; border-radius: 10px;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">300</i>
		  			  								</div>
		  			  								<div class="col-sm-6" style="background: red; border-radius: 10px; color: white;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">900</i>
		  			  								</div>
	  			  								</div>
  			  								</div>
  			  							</ng-template> 

  			  							<ng-template #popContentTx>
  			  								<div class="container" style="text-align: center;">
	  			  								<div class="row">
		  			  								<div class="col-sm-3" style="background: yellow; border-radius: 10px;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">50.01</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: red; border-radius: 10px; color: white;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">53</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: yellow; border-radius: 10px;">
		  			  									<i class="fa fa-arrow-down" aria-hidden="true">34.99</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: red; border-radius: 10px; color: white;">
		  			  									<i class="fa fa-arrow-down" aria-hidden="true">30</i>
		  			  								</div>
	  			  								</div>
  			  								</div>
  			  							</ng-template> 

  			  							<ng-template #popContentRx>
  			  								<div class="container" style="text-align: center;">
	  			  								<div class="row">
		  			  								<div class="col-sm-3" style="background: yellow; border-radius: 10px;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">8.01</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: red; border-radius: 10px;color: white;">
		  			  									<i class="fa fa-arrow-up" aria-hidden="true">10</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: yellow; border-radius: 10px;">
		  			  									<i class="fa fa-arrow-down" aria-hidden="true">-8.01</i>
		  			  								</div>
		  			  								<div class="col-sm-3" style="background: red; border-radius: 10px;color: white;">
		  			  									<i class="fa fa-arrow-down" aria-hidden="true">-10</i>
		  			  								</div>
	  			  								</div>
  			  								</div>
  			  							</ng-template> 
  			  							
   			  							<ng-template #popContentSnr>
   			  								<div class="container" style="text-align: center;">
 	  			  								<div class="row">
 		  			  								<div class="col-sm-6" style="background: yellow; border-radius: 10px;">
 		  			  									<i class="fa fa-arrow-down" aria-hidden="true">31.99</i>
 		  			  								</div>
 		  			  								<div class="col-sm-6" style="background: red; border-radius: 10px; color: white;">
 		  			  									<i class="fa fa-arrow-down" aria-hidden="true">26.01</i>
 		  			  								</div>
 	  			  								</div>
   			  								</div>
   			  							</ng-template> 

  			  							<table class="table table-striped table-bordered text-center">
  			  								<tbody>
  			  									<tr>
  			  										<th style="width: 25%;" [ngbPopover]="popContentPing" [openDelay]="300" container="body" triggers="mouseenter:mouseleave">PING</th>
  			  										<th style="width: 25%;" [ngbPopover]="popContentTx" [openDelay]="300" container="body" triggers="mouseenter:mouseleave">TX</th>
  			  										<th style="width: 25%;" [ngbPopover]="popContentRx" [openDelay]="300" container="body" triggers="mouseenter:mouseleave">RX</th>
  			  										<th style="width: 25%;" [ngbPopover]="popContentSnr" [openDelay]="300" container="body" triggers="mouseenter:mouseleave">SNR</th>
  			  									</tr>
  			  									<tr>
  			  										<td [ngClass]="cm_parameters.ping_status">{{ cm_parameters.ping }}ms</td>
  			  										<td [ngClass]="cm_parameters.tx_status">{{ cm_parameters.tx }}</td>
  			  										<td [ngClass]="cm_parameters.rx_status">{{ cm_parameters.rx }}</td>
  			  										<td [ngClass]="cm_parameters.snr_status">{{ cm_parameters.snr }}</td>
  			  									</tr>
  			  								</tbody>
  			  							</table>

  			  							<div class="container-fluid" *ngIf="ping_visibility" style="background: black;max-height: 144px;overflow: auto;color: lightgreen;">
  			  								<div>PING {{ cm_info.ip_add }}</div>
  			  								<div *ngFor='let ping of ping_reset'>PING time : {{ping}} ms</div>
  			  							</div>
  			  						</div>
  			  					</div>
  			  	            </div>
  			  	            <div class="col-lg-12" *ngIf="cm_id"><!-- // change this -->
  			  	            	<div class="block margin-bottom-sm">
  			  	            		<div class="title">
  			  	            			<strong>Historical Graphs</strong>
  			  	            		</div>
  			  	            		<!-- <button class="btn btn-primary btn-sm" (click)="getHistoricGraph('d', 'view', '', 'drop')">Test</button> -->
  			  	            		<div style="background: white;" >
  			  	            			<!-- <button class="btn btn-sm btn-primary" (click)="getLiveGraph('run')">Start Live</button> -->
  			  	            			<!-- <button class="btn btn-sm btn-primary" (click)="getLiveGraph('pause')">Pause Live</button> -->
  			  	            			<div style="float: right;margin: 10px;">
  			  	            				<label style="margin-right: .5rem;">Select Span</label> 
  			  	            				<select #mySelect (change)="getHistoricGraph(mySelect.value, 'change', 'no', 'drop')">
  			  	            					<option 
  			  	            					class='option' 
  			  	            					*ngFor='let option of span_options_drop' 
  			  	            					[value]="option.val">{{option.text_val}}</option>
  			  	            				</select>
  			  	            			</div>
  			  	            			<div *ngIf="chart_hist" class="container-fluid" style="padding-bottom: 6px;">
  			  	            				<label style="text-align: center;width: 100%;">RF Chart</label> 	
  			  	            				<div id="rf_chart" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
  			  	            				<table style="width:100%; margin-left:2%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
  			  	            				    <tbody>
  			  	            				        <tr *ngIf="hsf_value" >
  			  	            				            <td style="padding-bottom:15px;text-align: center;" colspan="7">
  			  	            				                <div style="margin-left:-100px;">
  			  	            				                    {{ drop_graph_start }}                
  			  	            				                    to 
  			  	            				                    {{ drop_graph_end }} 
  			  	            				                </div>
  			  	            				            </td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>TX</td>
  			  	            				            <td>Current : {{ txcurrent }} </td>
  			  	            				            <td>Average : {{ txaverage }} </td>
  			  	            				            <td>Maximum : {{ txmaximum }} </td>
  			  	            				            <td>Deviation Count : {{ tx_dev_count }} </td>
  			  	            				            <td>Max Dev. : {{ tx_max_dev }} </td>
  			  	            				            <td>Min Dev. : {{ tx_min_dev }} </td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>RX</td>
  			  	            				            <td>Current : {{ rxcurrent }} </td>
  			  	            				            <td>Average : {{ rxaverage }} </td>
  			  	            				            <td>Maximum : {{ rxmaximum }} </td>
  			  	            				            <td>Deviation Count : {{ rx_dev_count }} </td>
  			  	            				            <td>Max Dev. : {{ rx_max_dev }} </td>
  			  	            				            <td>Min Dev. : {{ rx_min_dev }} </td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>Signal to Noise</td>
  			  	            				            <td>Current : {{ snrcurrent }} </td>
  			  	            				            <td>Average : {{ snraverage }} </td>
  			  	            				            <td>Maximum : {{ snrmaximum }} </td>
  			  	            				            <td>Deviation Count : {{ snr_dev_count }} </td>
  			  	            				            <td>Max Dev. : {{ snr_max_dev }} </td>
  			  	            				            <td>Min Dev. : {{ snr_min_dev }} </td>
  			  	            				        </tr>
  			  	            				    </tbody>
  			  	            				</table>
  			  	            				<br>
  			  	            				<label style="text-align: center;width: 100%;">CM Traffic</label>
  			  	            				<div id="bw_chart" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
  			  	            				<table style="width:100%; margin-left:2%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
  			  	            				    <tbody>
  			  	            				        <tr *ngIf="hsf_value" >
  			  	            				            <td style="padding-bottom:15px;text-align: center;" colspan="7">
  			  	            				                <div style="margin-left:-100px;">
  			  	            				                    {{ drop_graph_end }}                
  			  	            				                    to 
  			  	            				                    {{ drop_graph_end }} 
  			  	            				                </div>
  			  	            				            </td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>Ping</td>
  			  	            				            <td>Current : {{ ping_current }} ms</td>
  			  	            				            <td>Average : {{ ping_average }} ms</td>
  			  	            				            <td colspan="2">Maximum : {{ ping_maximum }} ms</td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>Download</td>
  			  	            				            <td>Current : {{ dl_current }} </td>
  			  	            				            <td>Average : {{ dl_average }} </td>
  			  	            				            <td>Maximum : {{ dl_maximum }} </td>
  			  	            				            <td>Total In : {{ total_in }}</td>
  			  	            				        </tr>
  			  	            				        <tr>
  			  	            				            <td>Upload</td>
  			  	            				            <td>Current : {{ ul_current }} </td>
  			  	            				            <td>Average : {{ ul_average }} </td>
  			  	            				            <td>Maximum : {{ ul_maximum }} </td>
  			  	            				            <td>Total Out : {{ total_out }}</td>
  			  	            				        </tr>
  			  	            				    </tbody>
  			  	            				</table>
  			  	            				<!-- <div id="freq_chart" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div> -->
  			  	            			</div>
  			  	            			<div *ngIf="chart_live" class="container-fluid"> 
  			  	            				<label style="text-align: center;width: 100%;">RF Chart</label> 	
  			  	            				<div id="rf_live" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
  			  	            				<br>
  			  	            				<label style="text-align: center;width: 100%;">CM Traffic</label>
  			  	            				<div id="bw_live" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
  			  	            				<!-- <div id="freq_live" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div> -->
  			  	            			</div>
  			  	            			<!-- <div id="chartdiv" style="width: 100%;height: 600px;"></div> -->
  			  	            		</div>
  			  	            	</div>
  			  	            </div>
        		  		</div>
        		  	</div>
        		  </div>
        		  <div class="tab-pane fade" id="plant-info" role="tabpanel" aria-labelledby="plantinfo-tab">
        		  	<div class="container-fluid">
        		  		<div class="row">
 
	  			            <div class="col-lg-12" *ngIf="cpeChannels"><br>
	  							<div class="block margin-bottom-sm">
	  								<div class="title">
	  									<strong>Network Health</strong>
	  								</div>
	  								<div class="table-responsive"> 
	  									<table class="table table-striped">
	  										<tbody>
	  											<tr>
	  												<th width="25%">Status</th>
	  												<td>N/A</td>
	  											</tr>
	  										</tbody>
	  									</table>
	  								</div>
	  							</div>
	  			            </div>

	  			            <div class="col-lg-12" *ngIf="cm_parameters"><!-- // change this -->
	  			            	<div class="block margin-bottom-sm">
	  			            		<div class="title">
	  			            			<strong>Fault</strong>
	  			            		</div>
	  			            		<div class="table-responsive"> 
	  			            			<table class="table table-striped table-bordered">
	  			            				<tbody>
	  			            					<tr>
	  			            						<th width="25%">FNPR</th>
	  			            						<td>N/A</td>
	  			            					</tr>
	  			            					<tr>
	  			            						<td>NDC</td>
	  			            						<td>N/A</td>
	  			            					</tr>
	  			            				</tbody>
	  			            			</table>
	  			            		</div>
	  			            	</div>
	  			            </div>

	  			            <div class="col-lg-12" *ngIf="cm_parameters">
	  			            	<div class="block margin-bottom-sm">
	  			            		<div class="title">
	  			            			<strong>XperTrak</strong>
	  			            		</div>
	  			            		<div class="table-responsive"> 
	  			            			<table class="table table-striped table-bordered">
	  			            				<tbody>
	  			            					<tr>
	  			            						<th width="25%">Score</th>
	  			            						<th>N/A</th>
	  			            					</tr>
	  			            					<tr>
	  			            						<td>Alarm</td>
	  			            						<td>N/A</td>
	  			            					</tr>
	  			            				</tbody>
	  			            			</table>
	  			            		</div>
	  			            	</div>
	  			            </div>

	  			            <div class="col-lg-12" *ngIf="upstream">
	  			            	<div class="block margin-bottom-sm">
	  			            		<div class="title">
	  			            			<strong>Node Parameters</strong>
	  			            		</div>
	  			            		<div class="table-responsive"> 
	  			            			<table class="table table-bordered">
	  			            				<tbody>
	  			            					<tr>
	  			            						<th>Port</th>
	  			            						<th>Corr FEC</th>
	  			            						<th>UnCorr FEC</th>
	  			            						<th>SNR</th>
	  			            					</tr>
	  			            					<tr [ngClass]="{'active': us_plant.value.port_number==port_active}" *ngFor="let us_plant of upstream | keyvalue: unsorted;">
	  			            						<th class="port" (click)="portRow(us_plant.value.port_number, 'plant')">{{us_plant.key}}</th>
	  			            						<th [ngClass]="us_plant.value.fec_c_status">{{us_plant.value.fec_c_avg}}</th>
	  			            						<th [ngClass]="us_plant.value.fec_u_status">{{us_plant.value.fec_u_avg}}</th>
	  			            						<th [ngClass]="us_plant.value.snr_status">{{us_plant.value.snr_avg}}</th>
	  			            					</tr>
	  			            				</tbody>
	  			            			</table>
	  			            		</div>
	  			            	</div>
	  			            </div>
	  			            <div class="col-lg-12" *ngIf="upstream">
	  			            	<div class="block margin-bottom-sm">
	
	  			            		<div class="title">
	  			            			<strong>Historical Graphs</strong>
	  			            		</div>
	  			            		<div style="background: white;" >
	  			            			<button class="btn btn-sm btn-outline-secondary" (click)="upstreamView('fec_snr', 0)" style="margin: 10px;">Reload</button>
	  			            			<div style="float: right;margin: 10px;">
	  			            				<label style="margin-right: .5rem;">Select Span</label> 
	  			            				<select #mySelectPlantSpanGraph (change)="getHistoricGraph(mySelectPlantSpanGraph.value, 'cmts_n_days', 'no', 'plant')">
	  			            					<option 
	  			            					class='option' 
	  			            					*ngFor='let option of span_options_plant' 
	  			            					[value]="option.val">{{option.text_val}}</option>
	  			            				</select>
	  			            			</div>
	  			            			<div class="container-fluid">
	  			            				<!-- <button (click)="upstreamView('snr', 0)">SNR</button> -->
	  			            				<div *ngFor="let us_plant of upstream | keyvalue;index as i" >
	  			            					<div *ngIf="i === port_active" style="padding-bottom: 6px;">
	  			            						<label style="text-align: center;width: 100%;">FEC</label> 	
			  			            				<div id="usn_chart{{i}}" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
			  			            				<div class="cmts_summary">
			  			            				    <table style="width:100%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
			  			            				        <tbody>
			  			            				            <tr ng-if="cmts_date_srange" >
			  			            				                <td style="padding-bottom:15px;text-align: center;" colspan="7">
			  			            				                    <div>
			  			            				                        {{ plant_graph_start }}                
			  			            				                        to 
			  			            				                        {{ plant_graph_end }} 
			  			            				                    </div>
			  			            				                </td>
			  			            				            </tr>
			  			            				            <tr>
			  			            				                <td>Correctable</td>
			  			            				                <td>Current : {{ feccocurrent }}</td>
			  			            				                <td>Average : {{ feccoaverage }}</td>
			  			            				                <td>Maximum : {{ feccomaximum }}</td>
			  			            				            </tr>
			  			            				            <tr>
			  			            				                <td>Uncorrectable</td>
			  			            				                <td>Current : {{ fecuncocurrent }}</td>
			  			            				                <td>Average : {{ fecuncoaverage }}</td>
			  			            				                <td>Maximum : {{ fecuncomaximum }}</td>
			  			            				            </tr>
			  			            				        </tbody>
			  			            				    </table>
			  			            				</div>
			  			            				<label style="text-align: center;width: 100%;">SNR</label> 	
			  			            				<div id="usn_chart{{i}}snr" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
			  			            					 <table style="width:100%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
			  			            					    <tbody>
			  			            					        <tr ng-if="cmts_date_srange" >
			  			            					            <td style="padding-bottom:15px;text-align: center;" colspan="7">
			  			            				                    <div>
			  			            				                        {{ plant_graph_start }}                
			  			            				                        to 
			  			            				                        {{ plant_graph_end }} 
			  			            				                    </div>
			  			            					            </td>
			  			            					        </tr>
			  			            					        <tr>
			  			            					            <td>Current : {{ tracurrent }}</td>
			  			            					            <td>Average : {{ traaverage }}</td>
			  			            					            <td>Maximum : {{ tramaximum }}</td>
			  			            					        </tr>
			  			            					    </tbody>
			  			            					</table>
	  			            					</div>
	  			            				</div>
	  			            			</div>
	  			            		</div>

	  			            	</div>
	  			            </div>
        		  		</div>
        		  	</div>
        		  </div>
        		  <div class="tab-pane fade" id="core-info" role="tabpanel" aria-labelledby="coreinfo-tab">
        		  	<div class="container-fluid">
        		  		<div class="row">

	  			            <div class="col-lg-12" *ngIf="downstream_summary"><br>
	  							<div class="block margin-bottom-sm">
	  								<div class="title">
	  									<strong>CMTS Information</strong>
	  								</div>
	  								<div class="table-responsive"> 
	  									<table class="table table-striped">
	  										<tbody>
	  											<tr>
	  												<th width="20%">CMTS Model</th>
	  												<td width="30%">{{ cm_info.model_name }}</td>
	  												<th width="20%">MAC Domain</th>
	  												<td width="30%">{{ port_sample.mac }}</td>
	  											</tr>
	  											<tr>
	  												<th width="20%">US Port</th>
	  												<td width="30%">{{ cm_info.us_port }}</td>
	  												<th width="20%">US BW | Mod</th>
	  												<td width="30%">{{ cm_info_result[1].usBw }} | {{ cm_info_result[1].usModProfile }}</td>
	  												
	  											</tr>
	  											<tr>
	  												<th width="20%">DS port</th>
	  												<td width="30%">{{ cm_info.ds_port }}</td>
	  												<th width="20%">DS Freq | Width</th>
	  												<td width="30%">{{ cm_info_result[1].usFreq }} | {{ cm_info_result[1].usBw }}</td>
	  												
	  											</tr>
	  											<tr>
	  												<th width="20%">US Util Pave</th>
	  												<td width="30%">N/A</td>
	  												<th width="20%">US Util %</th>
	  												<td width="30%">N/A</td>
	  												
	  											</tr>
	  											<tr>
	  												<th width="20%">DS Util Pave</th>
	  												<td width="30%">{{ downstream_summary.ds_util_avg }}</td>
	  												<th width="20%">DS 95th Util</th>
	  												<!-- <td width="30%">{{ downstream_summary._95th_percentile }}</td> -->
	  												
	  											</tr>
	  											<tr>
	  												<th width="20%">DS Util %</th>
	  												<td [ngClass]="downstream_summary.ds_util_status" width="30%">{{ downstream_summary.ds_util_percentage }} %</td>
	  												<th width="20%">DS 95th %</th>
	  												<!-- <td [ngClass]="downstream_summary._95th_percentile_status" width="30%">{{ downstream_summary._95th_percentile_percentage }} %</td> -->
	  												
	  											</tr>
	  											
	  										</tbody>
	  									</table>
	  								</div>
	  							</div>
	  			            </div>

	  			            <!-- Upstream -->
	  			            <div class="col-lg-12" *ngIf="true"><br>
	  							<div class="block margin-bottom-sm">
	  								<div class="title">
	  									<strong>Historical Graphs</strong>
	  								</div>
	  								<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  								  <button class="btn btn-secondary active" (click)="UsDsToggle('us')">
	  								    <input type="radio" name="options" id="option1" autocomplete="off" checked> US Utilization
	  								  </button>
	  								  <button class="btn btn-secondary" (click)="UsDsToggle('ds')">
	  								    <input type="radio" name="options" id="option3" autocomplete="off"> DS Utilization
	  								  </button>
	  								</div>
	  								<br>
	  								<br>
	  								<div *ngIf="us_toggle">
		  								<div class="table-responsive"> 
		  									<table class="table table-striped">
		  										<tbody>
		  											<tr>
		  												<th width="25%">Upstream port</th>
		  												<th width="25%">Current</th>
		  												<th width="25%">Average</th>
		  												<th width="25%">Maximum</th>
		  											</tr>
		  			            					<!-- <tr [ngClass]="{'active': i==port_active}" *ngFor="let us_plant of port_array | keyvalue;index as i"> -->
	  			            						<tr [ngClass]="{'active': us_plant.value.port_number==port_active}" *ngFor="let us_plant of upstream | keyvalue: unsorted;"> 
		  			            						<th class="port" (click)="portRow(us_plant.value.port_number, 'core')">{{us_plant.key}}</th>
		  			            						<th>{{us_plant.value.traffic_current}}</th>
		  			            						<th [ngClass]="us_plant.value.traffic_status">{{us_plant.value.traffic_average}}</th>
		  			            						<th>{{us_plant.value.traffic_max}}</th>
		  			            					</tr>  											
		  										</tbody>
		  									</table>
		  								</div>
		  								<br>
		  								<div style="background: white;" >
		  									<button class="btn btn-sm btn-outline-secondary" style="margin: 10px;">Reload</button>
		  									<div style="float: right;margin: 10px;">
		  										<label style="margin-right: .5rem;">Select Span</label> 
		  										<select [(ngModel)]="selectedSpanCore" (change)="getHistoricGraph(selectedSpanCore, 'cmts_days', 'no', 'core')">
		  											<option value="1">24 Hrs</option>
		  											<option value="3" selected>3 Days</option>
		  											<option value="7">1 Week</option>
		  											<option value="31">1 Month</option>
		  										</select>
		  									</div>

		  									<!-- uncomment this pag pinapalitan, pag gusto ng nag iiba iba ang graph based sa selected port -->
	<!-- 	  									<div *ngFor="let us_plant of upstream | keyvalue;index as i" >
		  										<div class="container-fluid" *ngIf="i === port_active" style="padding-bottom: 6px;">
				  									<label style="text-align: center;width: 100%;">US Utilization | DS Utilization</label> 
				  									<div id="usn_chart{{i}}traffic" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>	
				  								</div>
				  							</div> -->

				  							<label style="text-align: center;width: 100%;">US Utilization</label> 	
				  							<div class="container-fluid" style="padding-bottom: 6px;">
				  								<div id="cmts_uschart_traffic" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
				  								 <table style="width:100%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
				  								    <tbody>
				  								        <tr ng-if="cmts_date_srange" >
				  								            <td style="padding-bottom:15px;" colspan="7">
				  								                <div>
				  								                    {{ reformatData(cmts_date_srange + " " + cmts_time_srange) }}                
				  								                    to 
				  								                    {{ reformatData(cmts_date_erange + " " + cmts_time_erange) }} 
				  								                </div>
				  								            </td>
				  								        </tr>
				  								        <tr>
				  								            <td>Current : {{ tracurrent }}</td>
				  								            <td>Average : {{ traaverage }}</td>
				  								            <td>Maximum : {{ tramaximum }}</td>
				  								        </tr>
				  								    </tbody>
				  								</table>
				  							</div>
				  							

		  									<br>
		  									<label style="text-align: center;width: 100%;">US CH Bandwidth | Modulation</label> 	
		  									<div class="container-fluid" style="padding-bottom: 6px;">
		  										<div id="freq_chart" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
		  									</div>
		  									<!-- <button (click)="getHistoricGraph(7, 'cmts_days', 'no')">Test</button> -->


		  								</div>
		  							</div>
		  							<div *ngIf="ds_toggle">

		  								<div class="table-responsive"> 
		  									<table class="table table-striped">
		  										<tbody>
		  											<tr>
		  												<th width="25%">Downstream port</th>
		  												<th width="25%">Current</th>
		  												<th width="25%">Average</th>
		  												<th width="25%">Maximum</th>
		  											</tr>
	  			            						<tr [ngClass]="{'active': ds_core.value.port_number==portds_active}" *ngFor="let ds_core of downstream | keyvalue: unsorted;"> 
		  			            						<th class="port" (click)="portDS(ds_core.value.port_number, 'core')">{{ds_core.key}}</th>
		  			            						<th>{{ds_core.value.traffic_current}}</th>
		  			            						<th [ngClass]="ds_core.value.traffic_status">{{ds_core.value.traffic_average}}</th>
		  			            						<th>{{ds_core.value.traffic_max}}</th>
		  			            					</tr>  											
		  										</tbody>
		  									</table>
		  								</div>
		  								<br>
		  								<div style="background: white;" >
		  									<button class="btn btn-sm btn-outline-secondary" style="margin: 10px;">Reload</button>
		  									<div style="float: right;margin: 10px;">
		  										<label style="margin-right: .5rem;">Select Span</label> 
				  								<select [(ngModel)]="selectedSpanDSCore" (change)="spanDSCore(selectedSpanDSCore)">
				  									<option value="1">24 Hrs</option>
				  									<option value="3" selected>3 Days</option>
				  									<option value="7">1 Week</option>
				  									<option value="31">1 Month</option>
				  								</select>
		  									</div>

				  							<label style="text-align: center;width: 100%;">DS Utilization</label> 	
				  							<div class="container-fluid" style="padding-bottom: 6px;">
	                                            <div id="dsn_chart0" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"> </div>
				  								 <table style="width:100%; margin-bottom:10px; font-weight:bold; font-size:13px;text-align: center;">
				  								    <tbody>
				  								        <tr ng-if="cmts_date_srange" >
				  								            <td style="padding-bottom:15px;" colspan="7">
				  								                <div>
				  								                    {{ reformatData(cmts_date_srange + " " + cmts_time_srange) }}                
				  								                    to 
				  								                    {{ reformatData(cmts_date_erange + " " + cmts_time_erange) }} 
				  								                </div>
				  								            </td>
				  								        </tr>
				  								        <tr>
				  								            <td *ngIf="tracurrent_ds">Current : {{ tracurrent_ds }}</td>
				  								            <td *ngIf="traaverage_ds">Average : {{ traaverage_ds }}</td>
				  								            <td *ngIf="tramaximum_ds">Maximum : {{ tramaximum_ds }}</td>
				  								        </tr>
				  								    </tbody>
				  								</table>
				  							</div>
				  							

		  									<br>
		  									<label style="text-align: center;width: 100%;">US CH Bandwidth | Modulation</label> 	
		  									<div class="container-fluid" style="padding-bottom: 6px;">
		  										<div id="freq_chart" style="width: 100%; height: 400px;margin-bottom: 10px; border: 2px solid #a7a7a7;"></div>
		  									</div>
		  									<!-- <button (click)="getHistoricGraph(7, 'cmts_days', 'no')">Test</button> -->
		  								</div>
		  							</div>

	  							</div>
	  			            </div>
	  			        
        		  		</div>
        		  	</div>
        		  </div>
        		</div>
        		<br>
        </section>

        <section id="drop-info" class="no-padding-top no-padding-bottom">
			<div class="container-fluid">
				<div class="row">

				</div>
			</div>
		</section>
        <section id="plant-info" class="no-padding-top no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					
				</div>
			</div>
		</section>
		<section class="no-padding-top no-padding-bottom">
			<div class="container-fluid">
				<div class="row">

				</div>
			</div>
		</section>
   		